.nav {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.nav-item a {
color: black;
font-weight: bold;
padding-top: 30px;
padding-bottom: 30px;

  }

a {
    color: black;
}

a:hover{
    color: black;
    text-decoration: underline;
}
  .nav-item a:hover {
      color: black;
      text-decoration: underline;
  }

  #logo {
      position: absolute;
      margin: 15px;
  }

  .carousel-item {
      height: 500px;
      overflow: hidden;
  }

  .carousel-indicators > li {
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 50%;
  }


  .top-3 {
      align-items: center;
  }

  #recent-articles {
      font-size: larger;
      font-weight: bold;
      padding: 10px;
      margin-top: 20px;
      margin-left: 20px;
  }

  .postpage{
    border-bottom: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
  }

  .gallery img {
      max-width: 100%;
      margin-top: 15px;
      margin-bottom: 10px;
      overflow: hidden;
  }

  p.justified{
      text-align: justify;
  }

  ::selection {
    color: orange;
    background: white;
  }

  ::-moz-selection  {
    color: orange;
    background: white;
  }

  .breadcrumb {
    background-color: transparent;
  }

  #atriclepages {
    margin-left: 1000px
  }

  footer {
      border-top: 1px solid black;
      margin-top: 20px;
  }

  input[type="checkbox"] { /* change "blue" browser chrome to yellow */
    filter: invert(0%) hue-rotate(180deg) brightness(1.7);
  }